exportPattern("^[[:alpha:]]+")

importFrom(graphics, abline, contour, lines, par, plot, points, polygon, text)
importFrom(MASS, kde2d)
importFrom(stats, approx, coef, lm, na.omit, qnorm, quantile, spline)
importFrom(utils, read.table, unzip)
