export(fetchBafuTable)
export(readFilesAwa, readFilesBafu)
export(estimateBaseflow, estimateSnowFraction, getRatingPoints, plotHypsograph)
export(testBreakpoint, testLinearTrend, applySnht)
export(declusterExtremes, getReturnLevels, plot2dProbability)

import(graphics, stats, utils)
importFrom(MASS, kde2d)

